<!--

{% extends "base.html" %}
{% block content %}

<div class="center-box text-center">
<h3>Enter OTP</h3>

<form action="/verify" method="post">
<input class="form-control mb-3" name="otp" placeholder="OTP">
<button class="btn btn-primary w-100">Verify</button>
</form>

</div>

{% endblock %}-->

<!DOCTYPE html>
<html>
<head>
    <title>OTP</title>
</head>
<body>

<h2>Enter OTP</h2>

<form method="POST" action="/verify">
    <input type="text" name="otp" placeholder="Enter OTP" required><br><br>
    <button type="submit">Verify</button>
</form>

<!-- FLASH POPUP -->
<script>
window.onload = function() {
    var messages = JSON.parse('{{ get_flashed_messages() | tojson | safe }}');
    
    if (messages.length > 0) {
        messages.forEach(function(msg) {
            alert(msg);
        });
    }
};
</script>

</body>
</html>