<!-- about.html -->
{% extends "base.html" %}
{% block content %}

<h1 class="section-title text-center ">About Me</h1>

<div class="card text-center"  >
<p>
I am a passionate cybersecurity engineer and full-stack developer focused on building highly secure web systems.
My expertise includes:
</p>

<ul>
<li>🔐 Multi-Factor Authentication Systems</li>
<li>☁ Cloud Security & DevOps</li>
<li>🛡 Penetration Testing</li>
<li>💻 Flask / Django Development</li>
<li>📊 Security Monitoring Dashboards</li>
</ul>

<p>
My goal is to merge elegant UI design with powerful backend security.
</p>
</div>

{% endblock %}